$tm-text-black: #071E42;
$tm-text-hover: #1465C0;
$tm-text-active: #0D47A1;

$tm-button-blue: #1984FF;
$tm-button-blue-hover: #0D47A1;
$tm-button-blue-active: #83B1FF;

$tm-button-purple: #686CFF;
$tm-button-purple-hover: #8369FC;
$tm-button-purple-active: #533AFB;

$tm-input-text: #AFADB5;
$tm-input-border: #CCD1DD;
$tm-input-border-active: #89A2EA;

$tm-color-blue: #1984FF;
